<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>BiblioPelis!</title>
  </head>
  <body>
      <header>
          <h1 style="margin: 10px;font-family: sans-serif">Netflix</h1>
      </header>
     
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="iniciosesion.html">Inicio sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registro.html">Registro</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="index.html">Estrenos</a>
                    <a class="dropdown-item" href="peliculas.html">Peliculas</a>
                    <a class="dropdown-item" href="series.html">Series</a>
                    <a class="dropdown-item" href="netflix.html">Netflix</a>
                  </div>
                </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Peliculas" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </nav>

          <div style="margin:10px" class="media">
                <img src="https://image.tmdb.org/t/p/w154/xcaPztQp9Lvlh9eLoOaGdq4JfxL.jpg" class="mr-3" alt="">
                <div style="text-align: justify" class="media-body">
                  <h5 class="mt-0">Por 13 razones</h5>
                  A pesar del desconcierto que supone volver a oír la voz de Hannah, Clay descubrirá 
                  que son trece las razones por las cuales ha decidido quitarse la vida, trece caras 
                  de cassete y que, por ello, son trece las personas que deben escucharlas. Él es una 
                  de ellas. <br>
                  <a href="https://xdede.co/series/s66788-ver-por-13-razones-online" target="blank">Ver pelicula</a> 
                </div> 
              </div> <br>

          <div style="margin:10px" class="media">
                <img src="https://image.tmdb.org/t/p/w154/d8nuQGs0RxoWUHYvQJl91xYm4Az.jpg" class="mr-3" alt="">
                <div style="text-align: justify" class="media-body">
                  <h5 class="mt-0">Dollar</h5>
                  Zeina, una atractiva asistente personal, colabora a regañadientes con el osado 
                  Tarek para encontrar un esquivo billete de un dólar valorado en un millón de 
                  dólares.<br>
                  <a href="https://xdede.co/series/s92097-ver-dollar-online" target="blank">Ver pelicula</a>
                </div>
              </div> <br>

              <div style="margin:10px" class="media">
                    <img src="https://image.tmdb.org/t/p/w154/k9BJG9t2iaxbTo2fEngKyuIc343.jpg" class="mr-3" alt="">
                    <div style="text-align: justify" class="media-body">
                      <h5 class="mt-0">A ciegas</h5>
                      Thriller posapocalíptico en el que una mujer y sus dos hijos, estos con los 
                      ojos vendados, navegan río abajo tras una sangrienta invasión alienígena de 
                      la Tierra intentando evitar a las criaturas extraterrestres. Cuando algo 
                      misterioso diezma la población mundial, solo se sabe una cosa: si lo ves, te 
                      suicidas. Malorie (Sandra Bullock) deberá huir junto a sus dos hijos por un 
                      caudaloso y traicionero río, rumbo al único sitio que parece ofrecer refugio. 
                      Pero para sobrevivir, deberán completar el peligroso viaje de dos días con los 
                      ojos vendados. <br>
                      <a href="https://xdede.co/peliculas/p405774-ver-a-ciegas-online" target="blank">Ver pelicula</a>
                    </div>
                  </div> <br>

                  <div style="margin:10px" class="media">
                        <img src="https://image.tmdb.org/t/p/w154/zEak97hxXEdgwm2Z22tUGoR4NlC.jpg" class="mr-3" alt="">
                        <div style="text-align: justify" class="media-body">
                          <h5 class="mt-0">Y nadie más que tu</h5>
                          Los recién prometidos Abbie y Sam han sido los respectivos amores de sus 
                          vidas desde el colegio. Cuando el futuro que imaginaban se trunca 
                          trágicamente, su relación se enfrenta a una prueba definitiva.<br>
                          <a href="https://xdede.co/peliculas/p450489-ver-y-nadie-mas-que-tu-online" target="blank">Ver pelicula</a>
                        </div>
                      </div>


    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>


  <div>
  <footer style="margin: 10px;">
      &COPY;
      <a href="mailto:bibliopelis@gmail.com">Contactenos</a>
  </footer>
  </div>
</html>