<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>BiblioPelis!</title>
  </head>
  <body>
      <header>
          <h1 style="margin: 10px;font-family: sans-serif">Peliculas</h1>
      </header>
     
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="iniciosesion.html">Inicio sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registro.html">Registro</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="index.html">Estrenos</a>
                    <a class="dropdown-item" href="peliculas.html">Peliculas</a>
                    <a class="dropdown-item" href="series.html">Series</a>
                    <a class="dropdown-item" href="netflix.html">Netflix</a>
                  
                  </div>
                </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Peliculas" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </nav>

          <div  style="margin: 10px;" class="media">
                <img src="https://image.tmdb.org/t/p/w154/jTlIYjvS16XOpsfvYCTmtEHV10K.jpg" class="mr-3" alt="">
                <div  style="text-align: justify" class="media-body">
                  <h5 class="mt-0">El lobo de Wall Street</h5>
                  Película basada en hechos reales del corredor de bolsa neoyorquino Jordan Belfort. 
                  A mediados de los años 80, Belfort era un joven honrado que perseguía el sueño 
                  americano, pero pronto en la agencia de valores aprendió que lo más importante 
                  no era hacer ganar a sus clientes, sino ser ambicioso y ganar una buena comisión. 
                  Su enorme éxito y fortuna le valió el mote de "El lobo de Wall Street". Dinero. 
                  Poder. Mujeres. Drogas. Las tentaciones abundaban y el temor a la ley era irrelevante. 
                  Jordan y su manada de lobos consideraban que la discreción era una cualidad anticuada; 
                  nunca se conformaban con lo que tenían. <br>
                  <a href="https://xdede.co/peliculas/p106646-ver-el-lobo-de-wall-street-online" target="blank">Ver pelicula</a> 
                </div> 
              </div> <br>

          <div style="margin: 10px" class="media">
                <img src="https://image.tmdb.org/t/p/w154/mS3t9puIjLKgoex82cu9d6G0835.jpg" class="mr-3" alt="">
                <div style="text-align: justify" class="media-body">
                  <h5 class="mt-0">Batman vs Superman</h5>
                  Ante el temor de las acciones que pueda llevar a cabo Superman, el vigilante de 
                  Gotham City aparece para poner a raya al superhéroe de Metrópolis, mientras que 
                  la opinión pública debate cuál es realmente el héroe que necesitan. El hombre de 
                  acero y Batman se sumergen en una contienda territorial, pero las cosas se complican 
                  cuando una nueva y peligrosa amenaza surge rápidamente, poniendo en jaque la 
                  existencia de la humanidad. <br>
                  <a href="https://xdede.co/peliculas/p209112-ver-batman-vs-superman-el-amanecer-de-la-justicia-online" target="blank">Ver pelicula</a>
                </div>
              </div> <br>

              <div style="margin: 10px" class="media">
                    <img src="https://image.tmdb.org/t/p/w154/yOTQT0xPXr4pOBxKp0rBSYkMzw6.jpg" class="mr-3" alt="">
                    <div style="text-align: justify" class="media-body">
                      <h5 class="mt-0">Harry Potter y la piedra filosofal </h5>
                      Harry Potter es un huérfano que vive con sus desagradables tíos, los Dursley, 
                      y su repelente primo Dudley. Se acerca su undécimo cumpleaños y tiene pocas 
                      esperanzas de recibir algún regalo, ya que nunca nadie se acuerda de él. 
                      Sin embargo, pocos días antes de su cumpleaños, una serie de misteriosas cartas 
                      dirigidas a él y escritas con una estridente tinta verde rompen la monotonía de 
                      su vida: Harry es un mago y sus padres también lo eran. <br>
                      <a href="https://xdede.co/peliculas/p671-ver-harry-potter-y-la-piedra-filosofal-online" target="blank">Ver pelicula</a>
                    </div>
                  </div> <br>

                  <div style="margin: 10px" class="media">
                        <img src="https://image.tmdb.org/t/p/w154/eItrj5GcjvCI3oD3bIcz1A2IL9t.jpg" class="mr-3" alt="">
                        <div style="text-align: justify" class="media-body">
                          <h5 class="mt-0">I am mother</h5>
                          Una adolescente (Rugaard) es criada es un refugio subterráneo por una madre 
                          robot que ha sido diseñada para repoblar la Tierra en caso de que se 
                          produjese una catástrofe. El vínculo entre ambas se ve amenazado cuando la 
                          joven lleva a su casa a una desconocida ensangrentada (Swank) que pone en 
                          tela de juicio todo lo que su madre robótica le ha enseñado sobre el mundo 
                          exterior. La adolescente tendrá que averiguar cuál de las dos dice la verdad 
                          para poder tomar una decisión con respecto a su futuro.<br>
                          <a href="https://xdede.co/peliculas/p505948-ver-i-am-mother-online" target="blank">Ver pelicula</a>
                        </div>
                      </div>


    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>



  <div>
  <footer style="margin: 10px">
      &COPY;
      <a href="mailto:bibliopelis@gmail.com">Contactenos</a>
  </footer>
</div>
</html>