<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>BiblioPelis!</title>
  </head>
  <body>
      <header>
          <h1 style="margin: 10px; font-family: sans-serif">Series</h1>
      </header>
     
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="iniciosesion.html">Inicio sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registro.html">Registro</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="index.html">Estrenos</a>
                    <a class="dropdown-item" href="peliculas.html">Peliculas</a>
                    <a class="dropdown-item" href="series.html">Series</a>
                    <a class="dropdown-item" href="netflix.html">Netflix</a>
                    
                  </div>
                </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Peliculas" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
          </nav>

          <div style="margin: 10px" class="media">
                <img src="https://image.tmdb.org/t/p/w154/iZ384PgGhuqMM0iBJFPjkGADKhj.jpg" class="mr-3" alt="">
                <div style="text-align: justify" class="media-body">
                  <h5 class="mt-0">Juego de tronos</h5>
                  Juego de Tronos es una serie de televisión de drama y fantasía creada para la HBO 
                  por David Benioff y D. B. Weiss. Es una adaptación de la saga de novelas de fantasía 
                  Canción de Hielo y Fuego de George R. R. Martin. La primera de las novelas es la 
                  que da nombre a la serie. La serie, ambientada en los continentes ficticios de 
                  Westeros y Essos al final de un verano de una decada de duración, entrelaza varias 
                  líneas argumentales. La primera sigue a los miembros de varias casas nobles inmersos 
                  en una guerra civil por conseguir el Trono de Hierro de los Siete Reinos. La segunda 
                  trata sobre la creciente amenaza de un inminente invierno y sobre las temibles 
                  criaturas del norte. La tercera relata los esfuerzos por reclamar el trono de los 
                  últimos miembros exiliados de una dinastía destronada. A pesar de sus personajes 
                  moralmente ambiguos, la serie profundiza en los problemas de la jerarquía social, 
                  religión, lealtad, corrupción, sexo, guerra civil, crimen y castigo. <br>
                  <a href="https://xdede.co/series/s1399-ver-juego-de-tronos-online" target="blank">Ver pelicula</a> 
                </div> 
              </div> <br>

          <div style="margin: 10px" class="media">
                <img src="https://image.tmdb.org/t/p/w154/xsENkZNOBAWMRraPte72vsQsyXX.jpg" class="mr-3" alt="">
                <div style="text-align: justify" class="media-body">
                  <h5 class="mt-0">La casa de papel</h5>
                  Un enigmático personaje llamado el Profesor planea algo grande: llevar a cabo el 
                  mayor atraco de la historia. Para ello recluta una banda de ocho personas que reúnen 
                  un único requisito, ninguno tiene nada que perder. Cinco meses de reclusión 
                  memorizando cada paso, cada detalle, cada probabilidad… y por fin, once días de 
                  encierro en la Fábrica Nacional de Moneda, rodeados de cuerpos de policía y con 
                  decenas de rehenes en su poder para saber si su apuesta suicida será todo o nada. <br>
                  <a href="https://xdede.co/series/s71446-ver-la-casa-de-papel-online" target="blank">Ver pelicula</a>
                </div>
              </div> <br>

              <div style="margin: 10px" class="media">
                    <img src="https://image.tmdb.org/t/p/w154/h4l0hILb6Fr1vwoKwv9XOk4Fx5.jpg" class="mr-3" alt="">
                    <div style="text-align: justify" class="media-body">
                      <h5 class="mt-0">Sex education</h5>
                      Como el inseguro de Otis (Asa Butterfield) tiene respuesta para cualquier duda 
                      sobre sexo gracias a que su madre (Gillian Anderson) es sexóloga, una compañera 
                      lo anima a abrir una "clínica" en el instituto. <br>
                      <a href="https://xdede.co/series/s81356-ver-sex-education-online" target="blank">Ver pelicula</a>
                    </div>
                  </div> <br>

                  <div style="margin: 10px" class="media">
                        <img src="https://image.tmdb.org/t/p/w154/u8BMLmwoc7YPHKSWawOOqC1c8lJ.jpg" class="mr-3" alt="">
                        <div style="text-align: justify" class="media-body">
                          <h5 class="mt-0">Los Simpson</h5>
                          Los Simpsons es una comedia americana de animación creada por Matt Groening 
                          para la compañía Fox. La serie es una parodia satírica del estilo de la 
                          clase media americana encarnada por una familia con ese mismo nombre, 
                          compuesta por Homer, Marge, Bart, Lisa, y Maggie Simpson. La serie se ubica 
                          en la ciudad ficticia de Springfield y parodia la cultura, la sociedad, la 
                          televisión americanos y muchos otros aspectos de la condición humana.<br>
                          <a href="https://xdede.co/series/s456-ver-los-simpson-online" target="blank">Ver pelicula</a>
                        </div>
                      </div>


    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 

  <div>
  <footer style="margin: 10px" >
      &COPY;
      <a href="mailto:bibliopelis@gmail.com">Contactenos</a>
  </footer>
  </div>

</body>

</html>